---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">
    {% assign loopindex = forloop.index | modulo: 4 %}
    {% if loopindex == 1 and forloop.index > 0  %}
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Banner ad -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-5719307070733163"
             data-ad-slot="2443392531"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    {% endif %}
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1> 
      <h5><i class="icon-tags"></i> {% for tag in post.tags %}| <a href="/tag/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;"><u>{{ tag }}</u></a> |  {% if forloop.last != true %} {% endif %} {% endfor %}</h5>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
