<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Git Blog Posts -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5719307070733163"
     data-ad-slot="5325125335"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Git Blog Sidebar -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-5719307070733163"
     data-ad-slot="6120829737"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
