---
layout: default
---

<article class="post">
      <div class="cert">
    	<img src="../images/CCA_SparkHadoopDeveloper-transparency.png" alt="CCASparkHadoopDev" style="width:30%; height:30%";>
      </div> 
      <div class="date">
    	Written on {{ page.date | date: "%B %e, %Y" }}
    	<br>
    	Author: <a href="http://twitter.com/GavLaaaaaaaa">{{ page.author }}</a>
    	<br>
     	License Number: 100-015-584
	<br>
	 <br>
	 <br>
      </div>
  <br><br><br>
  <h1>{{ page.title }}</h1>
 
  
  <div class="entry">
    {{ content }}
    <br><p>If you liked this content then please <a href="http://eepurl.com/b8r2XH">Sign up for my weekly Newsletter</a> or <a href="http://twitter.com/GavLaaaaaaaa">follow me on twitter</a> where we can discuss more!</p><br>
  </div>

  <!-- include google ads -->
  {% include advertising.html %}
  
  {% include disqus.html %}
</article>
